.routes {
  display: none;
}

#main-landing {
  height: auto;
  width: auto;
  display: block;
  position: relative;
  align-content: center;
  margin-right: 20%;
}

h1#heading {
  display: block;
  position: relative;
  top: 2%;
  color: maroon;
  text-align: center;
}

#bubble1 {
  height: 55px;
}

#bubble2 {
  height: 55px;
  padding: 3%;
}

#home-table {
  display: block;
  position: fixed;
  margin-left: 16%;
}

#welcome-header {
  display: block;
}

#landing-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button#chatrooms-button {
  cursor: pointer;
  text-align: center;
  font-size: 45%;
  outline: none;
  color: #fff;
  background-color: #ca3f2d;
  border-radius: 30px;
  box-shadow: 0 7px #999;
}

button#project2 {
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #ca3f2d;
  border-radius: 30px;
  box-shadow: 0 7px #999;
}

button#project3 {
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #ca3f2d;
  border-radius: 30px;
  box-shadow: 0 7px #999;
}

tr.table-row {
  display: block;
  position: relative;
  width: 100;
  background-color: white;
  border-radius: 10px;
}

table {
  table-layout: auto;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0px;
  width: 100%;
  margin-right: 5px;
}

td {
  position: relative;
  padding: 0px;
  margin-right: 5px;
  width: 100%;
}

tr {
  width: 100%;
}

button#chatrooms-button:hover {
  color: #eee23f;
}

button#chatrooms-button:active {
  background-color: #eee23f;
  box-shadow: 0 3px #555;
  transform: translateY(4px);
}

button#project2:hover {
  color: #eee23f;
}

button#project2:active {
  background-color: #eee23f;
  box-shadow: 0 3px #555;
  transform: translateY(4px);
}

button#project3:hover {
  color: #eee23f;
}

button#project3:active {
  background-color: #eee23f;
  box-shadow: 0 3px #555;
  transform: translateY(4px);
}
